<ul class="navbar">
  <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  <li><a routerLink="employee" routerLinkActive="active">Employee</a> </li>
  <li><a routerLink="register" routerLinkActive="active">Register</a></li>
  <li><a routerLink="parent" routerLinkActive="active">Parent</a></li>
  <li><a routerLink="users" routerLinkActive="active">User</a></li>
  <li><a routerLink="userRegister" routerLinkActive="active">UserRegister</a></li>
  
  <li><a routerLink="ng-for" routerLinkActive="active">ng-For</a></li>
  <li><a routerLink="userlist" routerLinkActive="active">userlist</a></li>
  <li><a routerLink="two-way-bind" routerLinkActive="active">Two-way-Bind</a></li>
  <li><a routerLink="datepicker-popup" routerLinkActive="active">DatePicker-popup</a></li>

  <li><a routerLink="jsonpipe" routerLinkActive="active">jsonpipe</a></li>
  <li style="float:right"><a href="#">About</a></li>
</ul>